body {
    font-family: 'VT323', monospace;
    text-align: center;
    color: #333;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
 }
 

#Historia {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}


#Historia h1{
    font-size: 20px;
}